header{
    height:65px;
    width:100% !important;
    background:#1a5895;
    h2{
        line-height:65px;
        margin-top:0;
        margin-bottom:0;
        text-align:center;
        font-weight:100;
        color:#00e1dd;
    }

}