body{ background: #f2f2f2;
.detail {
  max-width:900px;
  margin-left:auto;
  margin-right:auto;
  h1 {
    background: #e6e6e6;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-weight: 100;
    color: #1a5895;
    font-size: 26px;
    margin-top:50px;
  }

  
  .right-detail{
    width:32%;
    display:inline-block;
    vertical-align: middle;
    figure{
      img{width:100%;}
    }
  }
  .left-detail {
    padding-left:2%;
    padding-right:2%;
    width:64%;
    float:left;
    .info{
      display:flex;
      div{
        margin-right:30px;
        margin-bottom:20px;
        h2{
          text-align:center;
          font-size:20px;
        }
        p{text-align:center;}
      }
      h2{
        font-weight: 100;
        color: #1a5895;
      }
    }
    .inside-detail {
      .border {
        border-bottom: 2px solid #00f0e6;
        padding-bottom:15px;
        margin-bottom:15px;
        margin-top:30px;
        h2 {
          font-weight: 100;
          color: #1a5895;
        }
      }
      p{font-weight:500 !important;color:#5a5a5a; font-size:14px;
      line-height:20px;}
    }
  }
}

@media only screen and (max-width: 720px) {
  .detail {
    .left-detail {
      width: 100% !important;
      .info {
        display: block !important;
        p {
          text-align: left !important;
        }

        h2 {
          text-align: left !important;
        }
      }
    }
    .right-detail{
      width:100% !important;
      figure{width:100%;display:block;}
      img{width:100%;object-fit: cover !important;}
    }
  }
}

}