
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

*{
  margin:0;
  padding:0;
  outline:none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Abel', sans-serif;
}

.split-screen {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}
