input {
  width: 100%;
  background: #ebebeb;
  border: none;
  outline: none;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  margin-top: 40px;
  padding-left: 20px;
  margin-left: -10px;
  &::placeholder {
    color: #91b1c9;
    font-weight: 500;
  }
}
