.page {
  outline: none;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  button {
    cursor: pointer;
    color: #1a5895;
    font-size: 20px;
    font-weight: 100;
    margin: 10px;
    width: 30px;
    background: none;
    border: none;
    outline: none;
  }
  .active {
    background: #1a5895;
    color: #00f0e6 !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
    line-height: 28px;
    text-align: center;
    box-shadow: #1a5895 0px 0px 0px 2px;
    border: 2px solid #00f0e6;
    font-size: 20px;
  }
}
