article{
    background:#ebebeb;
    display: flex;
    align-items: flex-start !important;
    margin-top:40px;
    margin-bottom:40px;
    figure{
        margin-left:0;
        margin-bottom:0;
        margin-right:0;
        margin-top:0;
        img{
            height:100%;
            width:100%;
            object-fit: cover;
        }
    }

    .tags{
        margin-left:25px;
        margin-top:20px;
        .tag{
            background:#fff;
            color:#1a5895;
            border:1px solid #1a5895;
            font-size:14px;
            border-radius:20px;
            padding:3px 8px 3px 8px;
            margin:3px;
        }
        
    }

    .details{
        width:100%;
        
        .desc{
            font-size:14px;
            padding-left:30px;
            padding-right:50px;
            margin-top:40px;
            color:#4d4d4d;
            font-weight:500;
        }
        .header{
            background:#1a5895;
            width:100% !important;
            
            h3{ padding-top:27px;
                padding-bottom:3px;
                color:#00f0e6;
                font-weight:100;
                font-size:25px;
                margin-left:100px;
            }
            .release-date{
                color:#969696;
                font-weight:100;
                position:absolute;
                margin-left:100px;
                margin-top:6px;
            }
            .percent{
                margin-top:20px;
                position:absolute;
                margin-left:20px;
                background:#1a5895;
                box-shadow:#1a5895 0px 0px 0px 3px;
                width:58px;
                height:58px;
                border-radius:100%;
                text-align:center;
                line-height:58px;
                color:#00f0e6;
                font-size:20px;
                font-weight:300;
                border:3px solid #00f0e6;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    article{
        display:block;
    }
}